@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");

.info-container {
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
    height: 400px;
    align-items: center;
    text-align: center;
    padding: 1rem 0.5rem;
}

h2 {
    font-weight: 400;
}

.gh-info {
    display: flex;
    align-items: center;
}
